@import "reset.css";

* {
  position: absolute;
}
.blck {
  background-color: black;
}
.yllw {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.drk-blue {
  background-color: #6F98C3;
}
.pink {
  background-color: #F91864;
}
section {
  margin: 20vh 20vw;
}
#scnd,
#frst,
#sm,
 {
  cursor: pointer;
}

div:nth-of-type(1) {
  width: 31px;
  height: 343px;
  transform: rotate(-15deg);
  left: 206.53px;
  top: 147.02px;
}
div:nth-of-type(2) {
  width: 8px;
  height: 157px;
  transform: rotate(15deg);
  left: 172px;
  top: 180px;
}
div:nth-of-type(3) {
  width: 23px;
  height: 162px;
  transform: rotate(-15deg);
  left: 125px;
  top: 144.84px;
}
div:nth-of-type(4) {
  width: 29.46px;
  height: 413.27px;
  transform: rotate(34deg);
  left: 177.77px;
  top: -27px;
}
div:nth-of-type(5) {
  width: 47px;
  height: 107px;
  transform: rotate(75deg);
  left: 197.03px;
  top: 50.16px;
}
div:nth-of-type(6) {
  width: 34px;
  height: 239px;
  transform: rotate(75deg);
  left: 206.03px;
  top: -52.84px;
}
div:nth-of-type(7) {
  width: 38px;
  height: 277px;
  transform: rotate(75deg);
  left: 197.03px;
  top: -86.84px;
}
div:nth-of-type(8) {
  width: 10px;
  height: 30px;
  transform: rotate(-15deg);
  left: 157.03px;
  top: 30.54px;
}
div:nth-of-type(9) {
  width: 26px;
  height: 29px;
  transform: rotate(95deg);
  left: 176.39px;
  top: 171px;
}
div:nth-of-type(10) {
  width: 56px;
  height: 176px;
  transform: rotate(-15deg);
  left: 149.03px;
  top: 313.49px;
}
